:root {
    --menu-background-color: hsl(345, 72%, 86%);
    --menu-color: #555;
    --menu-background-transparent: #0005;
    --menu-color-transparent: #fff;
    --go-post-background: linear-gradient(120deg, #9abbf7 0%, #ffbbf4 100%);
    --go-post-color: #fff;
    --main-link-color: #66afef;
    --pagination-background: #66afef;
    --pagination-color: #fff;
    --pagination-current-color: #da0a51;
    --scrollbar-thumb-background: #8ab5ff
        linear-gradient(
            45deg,
            #fff6 25%,
            transparent 25%,
            transparent 50%,
            #fff6 50%,
            #fff6 75%,
            transparent 75%,
            transparent
        );
    --scrollbar-color: #8ab5ff #e6efff;
    --scrollbar-width: thin;
    --code-language-background: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    --code-language-color: #fff;
    --selection-background: #3392ff2a;
}
