---
import { getCollection } from 'astro:content'
import { SITE } from '#config'
import { postsSort } from '#lib/postsSort'
import BaseLayout from '#layouts/BaseLayout.astro'
import PostCard from '#components/PostCard.astro'

const postEntries = await getCollection('posts')
const posts = postsSort(postEntries, false)

const type = 'archives'
const title = `Archives | ${SITE.title}`
---

<script src="../../lib/search.js"></script>

<BaseLayout {type} {title}>
    <div id="archives">
        {SITE.search.enable && <input id="search-bar" class="input" type="search" placeholder="搜索" />}
        <div id="timeline-wrap">
            {posts.map(post => <PostCard {post} />)}
        </div>
    </div>
</BaseLayout>
